#mainc {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-height: 100dvh; */
  min-height: 1456px;
  /* overflow: scroll; */
  /* background-color:greenyellow;
    */
}

input::placeholder {
  all: unset;
}

textarea::placeholder {
  all: unset;
}

#button1 {
  background: #d92d20;
  border-color: #fbe2e0;
  color: #ffffff;
}

input,
textarea {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  padding: 10px 14px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: #667085;
}

textarea {
  min-height: 100%;
}

#textH {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  /* line-height: 32px; */
  color: #101828;
}

#textH2 {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
}

p {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

#titlespace {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* background-color:darkolivegreen; */
  justify-content: space-between;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: aqua; */
}

#container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 100%;
  min-height: 70%;

  /* background-color: aqua; */
}

#upperc {
  display: flex;
  flex-direction: row;
  height: 56%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: #555; */
  justify-content: space-between;
  gap: 4%;
}

#messagefield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
  width: 100%;
  /* background-color: blue; */
}

#messagecontainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 5px;
  color: #667085;
}

#pmessage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  gap: 5px;
  color: #667085;
}

#pmessage-container-m {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #667085;
}
#log-container {
  color: #667085;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  padding-bottom: 60px;
  gap: 10px;
}
#log-container-m {
  color: #667085;

  display: none;
  flex-direction: column;
  height: 40%;
}

#preview {
  display: flex;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  /*background-color: aliceblue;*/
  width: 100%;
  height: 100%;
  background: #f9fafb;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

#logs {
  display: flex;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  /*background-color: palevioletred;*/
  width: 100%;
  height: 100%;
  background: #f9fafb;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

#dragdrop-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px 0px 20px 0px;
  width: 100%;
  gap: 1rem;
}

#dragdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: white;
  border-color: #d0d5dd;
  border-style: solid;
}

#lowerspace {
  /* background-color: #667085; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1%;
  padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  #mainc {
    width: 100%;
    /* background-color:greenyellow; */
    font-size: 14px;
  }

  #dragdrop-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    width: 100%;
    gap: 1rem;
  }

  input,
  textarea {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    padding: 10px 14px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: #667085;
  }

  #textP {
    margin: 0px;
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 22px;
    color: #667085;
  }

  #textH {
    margin: 0px;
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    /* line-height: 38px; */
    color: #101828;
  }

  #textH2 {
    margin: 0px;
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  @media only screen and (max-width: 600px) {
    #upperc {
      display: flex;
      flex-direction: column;
      height: 45%;
      padding-top: 20px;
      padding-bottom: 20px;
      /* background-color: #555; */
      justify-content: space-between;
      gap: 1rem;
    }
    #pmessage-container {
      display: none;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    #pmessage-container-m {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 5px;
    }

    #lowerspace {
      /* background-color: #667085; */
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1%;
      padding-bottom: 10px;
    }
  }
}
