@import url("https://fonts#googleapis#com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


#navbar {
    position:sticky;
    top:0;
    display:flex;
    flex-shrink: 0;
    vertical-align: middle;
    background-color:#ffffff;
    padding-left: 3% ;
    padding-right: 2.5%;
    padding-top: px;
    /* max-width: 1440px; */
    width: 100%;
    height: 54px;
    justify-content: space-between;
    object-fit: cover;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  }


  #lnav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #rnav {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: blue; */
    list-style-type: none;
    gap: 1rem;
  }
  #sideP{
    display: none;

  }

  #logo {
    height: 48px;
    width:88px;
    align-self: center;
  }

 
  #avatarbox{
    display: flex;
    width:48px;
    height:48px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
    background-color: #609260;
    border-radius: 24px;
    z-index: 0;
  }

  #avatarbox:hover{
    display: flex;
    width:48px;
    height:48px;
    align-items: center;
    justify-content: center;
    color: #609260;
    border-style: solid;
    border-color: #ffffff;
    background-color: #eeeeee;
    border-radius: 24px;
    z-index: 1;
  }

  #avatar:hover , #avatar{
    z-index: -1;
  }
  
  

  #dropd{
    height: fit-content;
    width: 150px;
    /* border-style: solid; */
    /* border-color: black; */
    position: absolute;
    display: flex;
    padding: 5px;
    flex-direction: column;
    top: 54px;
    align-items: flex-start;
    background: white;
    box-shadow: 5px 5px 15px #9e9e9e;
  
    /* z-index: -1; */
  }

  #mList{
    padding: 0px;
    width: 100%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    /* background-color: #9e9e9e; */
    gap: 10px;
  }

  #menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 5px;
    /* background-color: #609260; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
  }

  #menu:hover{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 5px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #505A50;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    cursor: pointer;
  }

  
  @media only screen and (max-width:900px){


/* #navbar {
  position:sticky;
  top:0;
  display:flex;
  flex-shrink: 0;
  vertical-align: middle;
  background-color:#ffffff;
  padding-left: 3% ;
  padding-right: 4.5%;
  padding-top: 8px;
  width: 100;
  height: 72px;
  display: flex;
  justify-content: space-between;
  object-fit: cover;
  z-index: 1;
} */

#sideP{
  width: 192px;
  height: calc( 100dvh - 54px);

  /* border-style: solid; */
  /* border-color: black; */
  position: absolute;
  display: flex;
  padding: 20px 5px 30px 5px;
  /* overflow-y: scroll; */

  flex-direction: column;
  top: 54px;
  left: 0px;
  align-items: flex-start;
  background: white;
  transition: width 0.3s ease-in-out;

  box-shadow: 5px 10px 15px #9e9e9e;
}


#bars:hover , #bars{
  display: block;
  z-index: -1;
}
    
  }